body{
  background-color: grey;
}
.container{
  background-color: white;
}
img{
  width: 100%;
  padding: 10px;
}
.navbar{
  float: right;
  background-color: transparent;
  border: 0px;

}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: black;
  text-decoration: underline;
}
